{{> header}}
<div class="user-profile">

    <img id="user-avatar-url" src="{{user.avatarUrl}}" alt="user-profile">
    <h1>{{user.username}}</h1>
    <h2>{{user.email}}</h2>
    {{#if isThisProfileMine}}
    <a id="deleteUserButton" href="#/user/delete/{{user._id}}">DELETE USER!</a>
    {{/if}}
    <p id="user-listings-title">User Memes
    </p>
    <div class="user-meme-listings">
        {{#each memes}}
        <div class="user-meme">
            <a href="#/meme/details/{{_id}}" class="user-meme-title">{{title}}</a>
            <a href="#/meme/details/{{_id}}"> <img class="userProfileImage" src="{{imageUrl}}"></a>

            <div class="user-memes-buttons">
                {{#if isMe}}
                <a href="#/meme/edit/{{_id}}" class="user-meme-btn">Edit</a>
                <a href="#/meme/delete/{{_id}}" class="user-meme-btn">Delete</a>
                {{/if}}
            </div>
        </div>
        {{else}}
        <p class="no-memes">No memes in database.</p>
        {{/each}}

    </div>
</div>
{{> footer}}